{{include "layouts/header"}}
        <!-- page content -->
        <div class="right_col" role="main">

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Services</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Name</th>
                          <th>Level</th>
                          <th>Type</th>
                          <th>Team</th>
                        </tr>
                      </thead>
                      <tbody>
					{{range $index, $element := .services}}
                        <tr>
						  <td><b><a href="/edit?id={{ $element.Id }}">{{ $element.Id }}</a></b></td>
                          <td>{{ $element.Name }}</td>
                          <td>{{ $element.Level }}</td>
                          <td>{{ $element.Type }}</td>
                          <td>{{ $element.Team }}</td>
                        </tr>
					{{end}}
                      </tbody>
                    </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="../static/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
   <script src="../static/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="../static/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../static/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="../static/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="../static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="../static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="../static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="../static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="../static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="../static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="../static/vendors/jszip/dist/jszip.min.js"></script>
    <script src="../static/vendors/pdfma/build/pdfmake.min.js"></script>
    <script src="../static/vendors/pdfma/build/vfs_fonts.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../static/build/js/custom.min.js"></script>

  </body>
</html>
